<section class="categories overflow-hidden">
    <div class="container">
      <div class="open-up aos-init aos-animate" data-aos="zoom-out">
        <div class="row">
          <div class="col-md-4">
            <div class="cat-item image-zoom-effect">
              <div class="image-holder">
                <a href="shop-four-column-wide.html">
                  <img src="https://est5.ru/storage/uploads/OxKs4n0KlPEpqaYJLiJg5JW9FQW8s0NkGyuzkYWd.jpeg" alt="categories" class="product-image img-fluid">
                </a>
              </div>
              <div class="category-content">
                <div class="product-button">
                  <a href="shop-four-column-wide.html" class="btn btn-common text-uppercase">Shop for men</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cat-item image-zoom-effect">
              <div class="image-holder">
                <a href="shop-four-column-wide.html">
                  <img src="images/cat-item2.jpg" alt="categories" class="product-image img-fluid">
                </a>
              </div>
              <div class="category-content">
                <div class="product-button">
                  <a href="shop-four-column-wide.html" class="btn btn-common text-uppercase">Shop for women</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cat-item image-zoom-effect">
              <div class="image-holder">
                <a href="shop-four-column-wide.html">
                  <img src="images/cat-item3.jpg" alt="categories" class="product-image img-fluid">
                </a>
              </div>
              <div class="category-content">
                <div class="product-button">
                  <a href="shop-four-column-wide.html" class="btn btn-common text-uppercase">Shop accessories</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>