{% extends "base.html" %}

{% block content %}
{% if images|length == 0 %}
  <div class="text-center">
    <h1 class="">Примеров пока нет!</h1>
    <a class="btn btn-dark btn-lg w-20" href="/adding_works/{{current_user.id}}">Добавить изображение</a>
  </div>
{% else %}
<div class="px-4 py-4 text-center">
  <ul class="list-group">
    {% for image in images%}
      <li class="list-group-item">
        <div class="row">
          <div class="col-0">
            <img class="rounded mb-2 img-thumbnail" src="{{url_for('get_image', image_id=image.id)}}" width="50" height="50">
          </div>
          <div class="col">
            <h3>{{image.description}}</h3>
          </div>
          <div class="col-0">
            <a class="btn btn-danger btn-sm" href="/delete_work/{{image.id}}">X</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% if images|length <= 5 %}
  <div class="py-2">
    <a class="btn btn-dark btn-lg w-20" href="/adding_works/{{current_user.id}}">Добавить изображение</a>
  </div>
  {% else %}
  <div class="py-2">
    <a class="btn btn-dark btn-lg w-20 disabled" href="#">Добавить изображение</a>
  </div>
  {% endif %}
</div>
<h4 class="text-center">{{images|length}} из 5 загружено</h4>
{% endif %}
{% endblock %}