{% extends "base.html" %}

{% block content %}

<section class="h-100" style="background-color: #85736e">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <center>
              <img src="/static/img/tg_bot.png"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .30rem; border-bottom-left-radius: .30rem; width: 400px" />
              </center>
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <div class="row">
                  <div class="col-md-6 mb-4">
                      <form action="" method="post" style="width: 400px">
                        <center>
                        <h1><strong>{{master_id}}</strong></h1>
                        <p></p>
                        <h2>Запомни число !!!</h2>
                        <p>- это код мастера, к которому ты хочешь записаться</p>
                        <p>Для записи отсканируй QR-code или нажми на кнопку ниже</p>
                        <a class="btn" href="https://t.me/MasterEntryBot" style="background-color:#b5aaa7; color:#ffffff" > Записаться </a>
                      </center>
                      </form>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</section>
{% endblock %}