{% extends "base.html" %}

{% block content %}
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        {% for item in range(5)%}
        <div class="item mb-5" style="">
            <div class="row g-3 g-xl-0">
                <div class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb" src="https://gas-kvas.com/grafic/uploads/posts/2023-09/1695813044_gas-kvas-com-p-kartinki-nogtei-50.jpg" alt="изображение">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="/master/<item>" style="color: #6b5e4d; font-size: 2.5rem"><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan" data-selected="false" style="visibility: initial !important;">Мастер маникюра</ya-tr-span></a></h3>
                    <div class="intro"><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. " data-translation="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. " data-ch="0" data-type="trSpan" data-selected="false" style="visibility: initial !important;">Классический маникюр - 650</ya-tr-span></div></div>
                <div class="col-3">
                    <a class="text-link" href="/zapis/<item>" style="color: #642424; font-size: 1.5rem;"><ya-tr-span data-index="14-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Записаться →</ya-tr-span></a>
                </div><!--//col-->
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}