{% extends "base.html" %}

{% block content %}
<body style="background: #642424;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
    min-height: 100vh;">
<div class="container">
    <div class="row py-5 px-4">
        <div  class="col-md-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden" >
                <div class="px-4 pt-0 pb-4" style="background: rgb{{photo}};">
                    <div class="media align-items-end profile-header" >
                        <div class="profile mr-3" style="transform: translateY(5rem);"><img src="{{url_for('get_image', image_id=avatar.id)}}" alt="..." width="300" class="rounded mb-2 img-thumbnail"></div>

                            <div class="media-body mb-5 text-white">

                            <h1 class="mt-0 mb-0">{{ master.nick_name }}</h1>
                            <p class="small mb-4" style="font-size: 2rem"> <i class="fa fa-map-marker mr-2"></i>{{master.description}}</p>
                            <p class="small mb-4" style="font-size: 1.75rem"> <i class="fa fa-map-marker mr-2"></i>{{master.social}}</p>
                                <div class="container" >
                                    <div class="row">
                                        {% if current_user.id == master.id %}
                                        <div class="col">
                                            <a href="/editing_master/{{master.id}}" class="btn btn-dark btn-sm btn-block">Изменить профиль</a>
                                        </div>
                                        {% endif %}
                                        <div class="col">
                                            <p>
                                                <button class="btn btn-dark btn-sm btn-block"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                    Прайс
                                                </button>
                                            </p>
                                        </div>
                                        {% if current_user.id == master.id %}
                                        <div class="col">
                                            <a href="/adding_service/{{master.id}}" class="btn btn-dark btn-sm btn-block">Добавить услугу</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="py-4 px-4">
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th scope="col">Название услуги</th>
                                                <th scope="col">Стоймость</th>
                                                <th scope="col">Описание</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for service in master.services %}
                                            <tr>
                                                <td>{{service.name}}</td>
                                                <td>{{service.price}}</td>
                                                <td>{{service.description}}</td>
                                                {% if current_user.id == master.id %}
                                                <td><a href="/delete_service/{{service.id}}/{{master.id}}" class="btn btn-dark btn-sm btn-block">Удаление услуги</a></td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                </div>
            </div><!-- End profile widget -->

        </div>
    </div>
</div>
</body>
{% endblock %}